.account-header {
  display: flex;
  align-items: center;
}

.account-header div {
  margin-left: 20px;
}

.account-header div h4{
  margin: 0;
  font-size: 18px;
}

.account-header div p{
  margin: 0;  
  color: #a7b3bd;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

ul li img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

ul li h4 {
  margin: 0;
  font-size: 18px;
}

ul li p{
  margin: 0;  
  color: #a7b3bd;
}

.account-details {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #F2F5FA;
}