.profile {
  color: black;
  margin: 30px;
}

.profile {
  display: flex;
  justify-content: space-around;
}

.profile-box {
  height: 200px;
  background-color: #7686A0;
  border-radius: 0 0 30px 30px;
  margin-bottom: -100px;
}

.profile-overlay {
  width: 650px;  
}