.profile {
  background-color: #fff;
  color: black;
  margin: 30px;
}

.profile {
  display: flex;
  justify-content: space-around;
}

/* .profile {
  border: 2px solid #ccc;
  margin: 40px;
  height: 95vh;
  display: flex;
  justify-content: space-between;
}

.profile-details-header {
  height: 25vh;
  border: 2px solid #ccc;
  background-color: #8290aa;
  border-radius: 0 0 30px 30px; 
} */

/* profile-details-card-details */

/* .profile-details-card-details {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.profile-details-card {
  background: #fff;
  border-radius: 30px;
  border: 2px solid green;
}

.profile-details-card-details .avatar {
  height: 150px;
  width: 150px;
  border-radius: 30%;
  border: 1px solid #ccc;
} */
/* profile-details-card-info */
/* .profile-details-card-info {
  display: flex;
  flex-direction: column;
} */

/* profile-details-card-button */
/* .profile-details-card-button {
  display: flex;
  justify-content: center; 
} */
/* 
.profile-details-card-button button {
  width: 180px;
  margin: 30px;
} */

/* user-achivements */
/* .user-achivements {
  display: flex;
} */

/* article-container */
/* .article-container {
  display: flex;
} */

/* article-details */
/* .article-details {
  width: 250px;
}

.article-details img{
 width: 250px;
 height: 150px;
} */

/* profile-details-featured-article */
/* .profile-details-featured-article {

} */